# Assignment number 4_function

## Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function. 


## [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

## SOLUTION

In [2]:
my_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
## MY LIST

In [3]:
my_list.sort(key = lambda x: x[1], reverse= True) ## sort a list using lambda function you can use sort method or sorted function.

In [4]:
my_list

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

## Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.


## [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## SOLUTION

In [5]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [6]:
result = list(map(lambda x : x**2, list1))

In [7]:
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions


## Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## SOLUTUION

In [13]:
string = [1,2,3,4,5,6,7,8,9,10]
result = list(map(lambda x: str(x) ,string))

In [18]:
print("Given string",result)
print("Expexted output",tuple(result))

Given string ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
Expexted output ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## Q4.  Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

## SOLUTION

## so , the reduce function is not in python library. you need to import the function from functools.

In [60]:
from functools import reduce

In [61]:
list_1 =[i for i in range(1,25+1)]
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [62]:
def product(x,y):
    return x*y

In [63]:
reduce(product,list_1)

15511210043330985984000000

In [64]:
reduce(lambda x,y: x*y, list_1) ## using lambda  function

15511210043330985984000000

## Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.


## [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

## SOLUTION

In [53]:
my_list = [2,3,6,9,27,60,90,120,55,46]

In [57]:
list(filter(lambda x:  x%2==0  or x%3==0, my_list )) ## filter the given list is divisible by 2 and 3

[2, 3, 6, 9, 27, 60, 90, 120, 46]

## Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.


## ['python', 'php', 'aba', 'radar', 'level']

## SOLUTION

In [58]:
my_list = ['python', 'php', 'aba', 'radar', 'level']

In [59]:
list(filter(lambda x: x[:]==x[::-1], my_list)) ## using slicing to check the given list is palindromes or not

['php', 'aba', 'radar', 'level']