# MongoDB ASSIGNMENT

## Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?
## SOLUTION:

## MongoDB is a non-relational document database that provide support for JSON like storage. The MongoDB database has a flexible data model that enables you to store unstructured data, and it provide full indexing supports.

## A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database system.

## Organisations of all sizes are adopting MongoDB, especially as a cloud database because it enables them to build applications faster, highly diverse datatypes and manage application more efficiently at scale.

## Q2. State and Explain the features of MongoDB.
## SOLUTION:

## 1. Support ad hoc queries: In MongoDB, you can search by field, range query and it also supports regular expression searches.
## 2. Indexing: You can index any field in a document.
## 3. Replication: MongoDB supports Master Slave replication. A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)
## 4. Duplication of data: MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.
## 5. Load balancing: It has an automatic load balancing configuration because of data placed in shards.

## Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
## SOLUTION:

In [1]:
## first we need to install and import pymongo
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (671 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 671.3/671.3 kB 18.2 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 38.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.5.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymongo

In [7]:
client = pymongo.MongoClient('mongodb+srv://Akshay:21MCA2515@cluster0.nzum6tq.mongodb.net/?retryWrites=true&w=majority')
db = client.test

In [8]:
client

MongoClient(host=['ac-jmgavxs-shard-00-01.nzum6tq.mongodb.net:27017', 'ac-jmgavxs-shard-00-00.nzum6tq.mongodb.net:27017', 'ac-jmgavxs-shard-00-02.nzum6tq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-8jbrfu-shard-0', tls=True)

In [10]:
client = pymongo.MongoClient('mongodb+srv://Akshay:21MCA2515@cluster0.nzum6tq.mongodb.net/?retryWrites=true&w=majority')

In [11]:
db = client['My_Records']

In [12]:
coll_create = db['My_details']

In [17]:
data = {'name': 'Akshay_chhabra',
        'course': 'Data science masters2.0',
        'platform': 'pwskills',
        'mentors':['sudhanshu sir','krish sir','vishwa sir','priya mam'],
        'loaction':'benguluru'
}

## Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [18]:
coll_create.insert_one(data)    ### insert one

In [19]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [20]:
coll_create.insert_many(data3) #### insert many

In [21]:
for i in coll_create.find():    
    print(i)

{'_id': ObjectId('6527e3e45181cbd8a7af327a'), 'name': 'Akshay_chhabra', 'course': 'Data science masters2.0', 'platform': 'pwskills', 'mentors': ['sudhanshu sir', 'krish sir', 'vishwa sir', 'priya mam'], 'loaction': 'benguluru'}
{'_id': ObjectId('6527e4ca5181cbd8a7af327b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527e4ca5181cbd8a7af327c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527e4ca5181cbd8a7af327d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527e4ca5181cbd8a7af327e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527e4ca5181cbd8a7af327f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3280'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3281'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3282'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3283'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3284'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3285'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3286'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [22]:
for i in coll_create.find({'name': 'Akshay_chhabra'}):
    print(i)

{'_id': ObjectId('6527e3e45181cbd8a7af327a'), 'name': 'Akshay_chhabra', 'course': 'Data science masters2.0', 'platform': 'pwskills', 'mentors': ['sudhanshu sir', 'krish sir', 'vishwa sir', 'priya mam'], 'loaction': 'benguluru'}

## Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this
## Solution:

## we can use find() method to retrieve the data from the database using for loop one by one.

In [23]:
## example:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6527e3e45181cbd8a7af327a'), 'name': 'Akshay_chhabra', 'course': 'Data science masters2.0', 'platform': 'pwskills', 'mentors': ['sudhanshu sir', 'krish sir', 'vishwa sir', 'priya mam'], 'loaction': 'benguluru'}
{'_id': ObjectId('6527e4ca5181cbd8a7af327b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527e4ca5181cbd8a7af327c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527e4ca5181cbd8a7af327d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527e4ca5181cbd8a7af327e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527e4ca5181cbd8a7af327f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3280'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3281'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3282'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3283'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3284'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3285'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527e4ca5181cbd8a7af3286'), 'name': 'Viola', 'address': 'Sideway 1633'}

## Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
## Solution:

## sort() method is used in mongodb for sorting the order of any field either its ascending or descending order.

In [29]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [30]:
coll_create.insert_many(random_data)

In [37]:
db.My_Records.find().sort({_id:1})

NameError: name '_id' is not defined

## Q7. Explain why delete_one(), delete_many(), and drop() is used.
## Solution:

## In MongoDB, delete_one(), delete_many(), and drop() are methods used for removing documents from a collection or dropping an entire collection

## 1. delete_one() Method: used to delete a single document.

In [38]:
coll_create.delete_one({'name':'Akshay_chhabra'})

## 2. delete_many() Method: used to delete multiple document.

In [39]:
coll_create.deleteMany({ _id: { '$gte': 4 } })

SyntaxError: invalid syntax (3145964594.py, line 1)