# MySQL ASSIGNMENT

## Q1. What is a database? Differentiate between SQL and NoSQL databases.
## SOLUTION:

## A database is a organized collection of structured information or data, typically stored electronically in computer system. A database is usually controlled by a database management system (DBMS).

## SQL database are relational and NOSQL database are non-relational. SQL database uses structured query language and have a predefined schema. NOSQL databases have dynamic schema of unstructured data. example of sql: oracle, DB2. example of NOSQL ARE: MongoDB.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
## SOLUTION:

## DDL stands for data definition language. DDL is a subset of SQL and a part of DBMS (Database management system). DDL consists of commands to commands like CREATE,ALTER,TRUNCATE,DROP. These commands are used to create or modify the table data in SQL.

## 1. CREATE:- This command is used to create a new table in SQL. The user has to give information like table_name, column_name and their datatypes.
## SYNTAX: 
## CREATE TABLE table_name(
## column1 datatype,
## column2 datatype,
## column3 datatype,
## ----------------);



## EXAMPLE: we need to create a table for storing student information of a particular college.
## CREATE TABLE student_info(
## college_id number(2),
## college_name varchar(30),
## branch varchar(10));

## 2.ALTER: This command is used to add, delete, change column in existing table. the user needs to know the existing table name and can do add, delete or modify tasks easily.
## SYNTAX:
## ALTER TABLE table_name
## ADD column_name datatype;



## EXAMPLE: In our student_info table, we want to add a new column for CGPA.
## ALTER TABLE student_info
## ADD CGPA number;

## 3. TRUNCATE: This command is used to remove all the rows form the table, but the structure of the table still exists.
## SYNTAX:
## TRUNCATE TABLE table_name;

## EXAMPLE: The college authority wants to remove the all the details of all students for new batches but wants to keeps the table structure.
## TRUNCATE TABLE student_info;

## 4. DROP: This command is used to remove the existing table along with structure from database.
## SYNTAX:
## DROP TABLE table_name;

## EXAMPLE: If the college authority wants to change their database by deleting the student_info table.
## DROP TABLE student_info;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

## The structured query language commands deals with the manipulation of data present in the database that belongs to DML Or Data Manipulation Language.

## 1. INSERT: This command is used to enter the information or value into a row. we can connect one or more record to a single table within a repository using this instruction.
## SYNTAX:
## INSERT INTO <table_name>(
## 'column_name1' <data_type>,
## 'column_name2' <data_type>)
## VALUES('value1','value2');

# EXAMPLE:
## INSERT INTO student_info(
## 'stud_id' int,
## 'student_name' varchar(20),
## 'city' varchar(20))
## VALUES('1','Akshay','gurgaon')

## 2. UPDATE command: This command is used to alter existing table records. within a table, it modify one or more records. this command is used to alter the data which is already present in the table.
## SYNTAX:
## UPDATE <table_name>
## SET <column_name=value>
## where condition;

# EXAMPLE:
## UPDATE students
## SET due_fees = 2000
## where stud_name = 'Akshay';

## 3. DELETE: It delete all archives from the table. This command is used to erase some or all the table records. if we don't specify the where condition then all the rows would be erased or deleted.
## SYNTAX:
## DELETE from <table_name>
## where <#condition>;

# EXAMPLE:
## DELETE from student
## WHERE stud_id = '001';

## Q4. What is DQL? Explain SELECT with an example.
## SOLUTION:

## DQL statements are used to perform queries on the data within schema objects. The purpose of DQL command is used to get some schema relation based on the query passed to it.

## SELECT: It is used to retrieve the data from the database.
## SYNTAX: 
## SELECT column1, column2 from <table_name>;

## EXAMPLE:
## SELECT stud_id, stud_name form students;
## SELECT * FORM students;

## Q5. Explain Primary Key and Foreign Key.
## Solution:

## PRIMARY KEY: A primary is use to ensure that data in the specific column is unique. A column cannot have NULL value. it is either an existing tabke column or a column that is specifically generated by the database according to defined sequence.

## EXAMPLE: stud_no and stud_phone both are candidate key but stud_no can be choosen as primary key.

## Foreign key: Foreign key is a column or group of column in relational database table that provide a link between data in two table. it is a column that references a column of another table.

## EXAMPLE: if in a TABLE1 stud_id column and this column also in TABLE2 , that means the data is linking between TABLE1 and TABLE2. SO, this is a foreign key.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
## SOLUTION:

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

## Cursor(): The cursor() method is used to create a cursor object. A cursor is a pointer or handle to a specific row of data in a set of results. It allows you to interact with the database by executing SQL queries and fetching results.

## execute(): The execute() method is used to execute SQL queries or commands through the cursor object. It takes a SQL query string as an argument.

## Q7. Give the order of execution of SQL clauses in an SQL query.
## SOLUTION:

## The order of execution of SQL query optimize the query, reduced the amount of data to be processed.

## 1. WHERE clause: After the table data on which other operation take place is processed by JOIN and FROM clause, where clause is evaluated. where clause filter the rows based on condition from the table evaluated by the FROM clause.

## 2. Group By: If the query has a group by clause, it is evaluated next. here, the data is grouped based on common value in the column specified in the group clause. This help to calculate aggregrate function.

## 3. HAVING: if a query had a group by clause, the having clause is evaluated immediately after group by . having clause is not compulsory for group by clause. similar to where operation, this clause also filter the table group processed before by the group by clause.

## 4. SELECT: The select is executed next after the group by and having. it compute expression(arithmetic, aggregrate function, etc.)

## 5. DISTINCT: The distinct clause is executed after evaluating expression. it filter any duplicate row and return unique row.

## 6. ORDER BY: After completing all the above clause the data is to displayed or processed as compute. Now order by execute to sort it based on particular column either ascending or descending order.

## 7. LIMIT/OFFSET: At last, the order of data to be processed is evaluated, limit and offset clause is evaluated to display only the row that fall within the limit.