# PANDAS_ASSIGNMENT-1

## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
## SOLUTION:

In [15]:
import pandas as pd

In [2]:
my_series = pd.Series([4,8,15,16,23,42])

In [3]:
my_series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
type(my_series)

pandas.core.series.Series

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
## SOLUTION:

In [5]:
l = [1,2,3,4,5,6,7,8,9,10]

In [6]:
my_list_series = pd.Series(l)

In [7]:
my_list_series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
type(my_list_series)

pandas.core.series.Series

## Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.    

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [9]:
my_data = {'Name':['Alice','Bob','Claire'],
          'Age':[25,30,27],
           'Gender':['Female','Male','Female']}

In [10]:
my_data

{'Name': ['Alice', 'Bob', 'Claire'],
 'Age': [25, 30, 27],
 'Gender': ['Female', 'Male', 'Female']}

In [11]:
my_DataFrame = pd.DataFrame(my_data)

In [12]:
my_DataFrame

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [13]:
type(my_DataFrame)

pandas.core.frame.DataFrame

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
## Solution:

## DataFrame is a collection of rows and columns in pandas. Data means 'information' and Frame means 'Structured'. Meaning that our data present in well structured format (Tabular format which containing rows and columns).

## "series" refers to a one-dimensional labeled array provided by the pandas library.

In [2]:
## example series
import numpy as np

In [15]:
array = np.random.randn(10)

In [16]:
array

array([ 0.02680308,  0.03488179,  0.91648305, -1.40207792, -0.57111196,
        0.77303534,  0.27473195,  1.16166925,  0.1013637 ,  1.28009039])

In [17]:
my_Series = pd.Series(array)

In [18]:
my_Series

0    0.026803
1    0.034882
2    0.916483
3   -1.402078
4   -0.571112
5    0.773035
6    0.274732
7    1.161669
8    0.101364
9    1.280090
dtype: float64

In [19]:
## example dataframe
my_dataframe = pd.DataFrame(array)

In [20]:
my_dataframe

          0
0  0.026803
1  0.034882
2  0.916483
3 -1.402078
4 -0.571112
5  0.773035
6  0.274732
7  1.161669
8  0.101364
9  1.280090

In [21]:
## you can see the dataframe in well structured format.

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
## SOLUTION:

## 1.head() and tail()

Example: df.head() returns the first 5 rows of the DataFrame. This is useful to quickly inspect the beginning of the dataset.
## 2.info() and describe()

Example: df.info() provides a concise summary of the DataFrame, including data types and missing values. df.describe() gives statistical information such as mean, standard deviation, and quartiles.
## 3.shape

Example: df.shape returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns).
## 4.loc[] and iloc[]

Example: df.loc[row_label, col_label] and df.iloc[row_index, col_index] are used for label-based and integer-based indexing, respectively. This allows you to access and modify specific elements in the DataFrame.
## 5.drop()

Example: df.drop(columns=['Column1', 'Column2']) removes specified columns from the DataFrame. This is useful when you want to eliminate unnecessary features.

## 6.fillna()

Example: df.fillna(value) fills in missing values with the specified value. This is important for handling missing data in a DataFrame.
## 7.groupby()

Example: df.groupby('Category').mean() groups the DataFrame by a specified column ('Category' in this case) and calculates the mean for each group. This is useful for aggregation and summary statistics.
## 8.merge()

Example: pd.merge(df1, df2, on='key') merges two DataFrames (df1 and df2) based on a common column ('key' in this case). This is useful for combining information from multiple sources.
## 9.sort_values()

Example: df.sort_values(by='Column1', ascending=False) sorts the DataFrame based on the values in 'Column1' in descending order. This is useful for sorting data for better analysis.

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
## SOLUTION:

## Series: A Pandas Series is mutable. You can modify the values in a Series after it has been created.

## DataFrame: A Pandas DataFrame is mutable. You can add, delete, or modify columns, as well as change the values within the DataFrame.

## Panel: The Panel class used to be a part of Pandas for handling three-dimensional data, but it has been deprecated since version 0.25.0. You are encouraged to use MultiIndex DataFrames instead. If you encounter a situation where you need a three-dimensional data structure, you can use a DataFrame with a MultiIndex.

## So, both Series and DataFrame are mutable in nature.

## Q7. Create a DataFrame using multiple Series. Explain with an example.
## SOLUTION:

In [16]:
series1 = pd.Series([1,2,3,4])

In [17]:
series2 = pd.Series([5,6,7,8,])

In [18]:
series3 = pd.Series([9,10,11,12])

In [19]:
series1

0    1
1    2
2    3
3    4
dtype: int64

In [20]:
series2

0    5
1    6
2    7
3    8
dtype: int64

In [21]:
series3

0     9
1    10
2    11
3    12
dtype: int64

In [23]:
new_data = pd.DataFrame([series1,series2,series3])

In [24]:
new_data

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12